html {
    height: 100%;
    width: 100%;
    margin: 0;
}

@font-face {
    font-family: Kylets;
    src: url(font/Kylets-Demo.woff) format('woff');
}

@font-face {
    font-family: Sing;
    src: url(font/Keep-Singing.woff) format('woff');
}

body {
    margin: 0;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-image: url(imagini/bg2.jpg);
    padding: 0;
    background-repeat: no-repeat;
   background-attachment: fixed;
    
}




h1 {
    margin: 0;
    position: relative;
    text-align: center;
    font-weight: normal;
    font-style: italic;
    font-family: Kylets;
    font-size: 5vw;
    padding: 0;
    
    
}
p{
    margin: 30px 0 0 ;
    text-align: center;
    font-size: 1.6vw;
    padding: 0;
    font-family:  Times New Roman; 

}
nav{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 15%;
    height:100% ;
    padding: 0.5%;
    box-sizing: border-box;
   transition: 0.5;
    background: rgba(0,0,0,.9);
   
    
        
}

   
    

nav .logo{
    float:left;
    
    
    
    
}
nav .logo img{
    height:100px;
    width: 100%
    
    
    
}
nav ul{
    text-align: center;
    margin: 0;
    padding: 0;
    display: block;
    height: 100%;
    
}
nav ul li{
    list-style: none;
    margin-top: 45%;
    width: 100%;
    font-size: 1.8vw;
    
}
nav ul li a{
    
    line-height: 70px;
    color: #E5ECEA;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    font-family:  Sing;
    width: 100%;
    
}

nav ul li:hover{
    color: #E5ECEA;
    background-color: rgba(144,217,229,1);
    text-align: center;
    
  
    
    
}

#continut{
    width: 70%;
    height: 100%;
    padding: 0;
    margin-left: 15%;
    margin-right: 15%;
    
    
}
.sec1{
    height: 50%;
    width: 100%;
    background: url(imagini/bg4.jpg);
    background-size: cover;
    background-attachment: local;
    margin: 0;
    padding: 0;
}
.sec2{
    height: 40%;
    width: 100%;
    background-color: #E5ECEA;
    margin: 0;
    padding: 0;
   
}
.sec3{
    height: 40%;
    width: 100%;
    background: url(imagini/bg4.jpg);
    background-size: cover;
    background-attachment: local;
    margin: 0;
    padding: 0;
}
.sec4{
    height: 40%;
    width: 100%;
    background-color: #E5ECEA;
    margin: 0;
    padding: 0;
   
}
.sec5{
    height: 40%;
    width: 100%;
    background: url(imagini/bg4.jpg);
    background-size: cover;
    background-attachment: local;
    
}
.sec6{
    height: 40%;
    width: 100%;
    background-color: #E5ECEA;
    margin: 0;
    padding: 0;
   
}
iframe {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    transform-origin: top left;
}

