html {
    height: 100%;
    width: 100%;
    margin: 0;
}

@font-face {
    font-family: Kylets;
    src: url(font/Kylets-Demo.woff) format('woff');
}

@font-face {
    font-family: Sing;
    src: url(font/Keep-Singing.woff) format('woff');
}

body {
    margin: 0;
    background-image:url(imagini/fundal.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

canvas {
    background-color: rgba(0, 0, 0, 0.95);
    margin: 0;
    position: relative;
    transition: height 4s;
}

#container {
    height: 100%;
    width: 100%;    
    position: relative;
    transition: height 4s;
}
#bottom,
#top {
    position: relative;
    height: 30px;
    width: 60px;
    left: 50%;
    background-color: rgba(255, 255, 255, 1);
}

#top {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    margin-top: 5%;
}

#bottom {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    margin-bottom: 5%;
}
#slide {
    height: 75%;
    width: 100%;
    margin: 0;
    position: relative;
    background-color: rgba(255, 255, 255, 1);
}


iframe {
    height: 70%;
    width: 100%;
    position: relative;
    border: none;
    transform-origin: top left;
}

h1 {
    margin-top: 1%;
    position: relative;
    text-align: center;
    font-weight: normal;
    font-style: italic;
    font-family: Sing;
}

p {
    position: relative;
    margin: 0;
    top: 5%;
    font-family: Kylets;
    font-size: 3.5vw;
    text-align: center;
    margin-bottom: 5%;
}

p::before,
p::after {
    content: " ";
    border-radius: 50%;
    position: relative;
    width: 30%;
    height: 5px;
    display: inline-block;
    background-color: #F5DD25;
}

P::before {
    margin-right: 5%;
}

p::after {
    margin-left: 5%;
}

img {
    position: relative;
    width: 100%;
    height: 50%
}

table {
	position: relative;
	width: 90%;
	margin-left: 5%;
}

td:nth-child(odd),
td:nth-child(even) {
	font-family: Kylets;
	font-size: 3vw;
	padding: 10px;
}

td:nth-child(odd) {
	width: 70%;
	
}

td:nth-child(even) {
	width: 30%;
}